In [123]:
import pandas as pd
import numpy as np
import datetime as datetime 
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [169]:
pd.low_memory=False
loan = pd.read_csv("loan.csv")
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [170]:
loan.shape

(39717, 111)

### Removing columns with all nulls and Checking the shape and checking nulls again

In [171]:
allnull = loan.isnull().sum()
for col in allnull[allnull==loan.shape[0]].index:
    loan = loan.drop(col, axis=1)
loan.shape

(39717, 57)

In [177]:
loan.isnull().sum().sort_values(ascending=False)[0:15]

pub_rec_bankruptcies          697
last_pymnt_d                   71
chargeoff_within_12_mths       56
collections_12_mths_ex_med     56
revol_util                     50
tax_liens                      39
title                          11
last_credit_pull_d              2
total_rec_prncp                 0
total_acc                       0
initial_list_status             0
out_prncp                       0
out_prncp_inv                   0
total_pymnt                     0
total_pymnt_inv                 0
dtype: int64

### Removing columns with max nulls after checking the use of columns and checking shape

In [173]:
for col in loan.isnull().sum().sort_values(ascending=False)[0:6].index:
    loan = loan.drop(col, axis=1)
loan.shape

(39717, 51)

### Printing all column names for reference

In [175]:
loan.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'url', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [176]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 51 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  object
 14  loan_status                 39717 non-null  object
 15  pymnt_plan                  39717 non-null  object
 16  url                         39717 non-null  object
 17  purpose                     39717 non-null  object
 18  title                       39706 non-null  object
 19  zip_code                    39717 non-null  object
 20  addr_state                  39717 non-null  object
 21  dti                         39717 non-null  float64
 22  delinq_2yrs                 39717 non-null  int64
 23  earliest_cr_line            39717 non-null  object
 24  inq_last_6mths              39717 non-null  int64
 25  open_acc                    39717 non-null  int64
 26  pub_rec                     39717 non-null  int64
 27  revol_bal                   39717 non-null  int64
 28  revol_util                  39667 non-null  object
 29  total_acc                   39717 non-null  int64
 30  initial_list_status         39717 non-null  object
 31  out_prncp                   39717 non-null  float64
 32  out_prncp_inv               39717 non-null  float64
 33  total_pymnt                 39717 non-null  float64
 34  total_pymnt_inv             39717 non-null  float64
 35  total_rec_prncp             39717 non-null  float64
 36  total_rec_int               39717 non-null  float64
 37  total_rec_late_fee          39717 non-null  float64
 38  recoveries                  39717 non-null  float64
 39  collection_recovery_fee     39717 non-null  float64
 40  last_pymnt_d                39646 non-null  object
 41  last_pymnt_amnt             39717 non-null  float64
 42  last_credit_pull_d          39715 non-null  object
 43  collections_12_mths_ex_med  39661 non-null  float64
 44  policy_code                 39717 non-null  int64
 45  application_type            39717 non-null  object
 46  acc_now_delinq              39717 non-null  int64
 47  chargeoff_within_12_mths    39661 non-null  float64
 48  delinq_amnt                 39717 non-null  int64
 49  pub_rec_bankruptcies        39020 non-null  float64
 50  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(20)
memory usage: 15.5+ MB

In [21]:
print(loan.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [12]:
LoanStats = pd.read_excel("Data_Dictionary.xlsx", sheet_name=0)
LoanStats.head()

            LoanStatNew                                        Description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths         Number of trades opened in past 24 months.
2            addr_state  The state provided by the borrower in the loan...
3              all_util              Balance to credit limit on all trades
4            annual_inc  The self-reported annual income provided by th...

In [13]:
RejectStats = pd.read_excel("Data_Dictionary.xlsx", sheet_name=1)
RejectStats.head()

       RejectStats File                                        Description
0      Amount Requested         The total amount requested by the borrower
1      Application Date               The date which the borrower applied
2            Loan Title            The loan title provided by the borrower
3            Risk_Score  For applications prior to November 5, 2013 the...
4  Debt-To-Income Ratio  A ratio calculated using the borrowerâ€™s total ...

In [11]:
?pd.read_excel